
title
{
    font-variant: small-caps;
}
body
{
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    font-size: 12px;
    text-align: left;
    line-height: 18px;
    font-family: Times New Roman, Arial, Helvetica, sans-serif,Microsoft YaHei UI, "Segoe UI" , "Lucida Grande" ,Verdana;
}
img
{
    margin: 0px;
    padding: 0px;
}
p
{
    line-height: 115%;
}
.page
{
    text-align: center;
    width: 100%;
    min-height: 420px;
}
.header
{
    width: 100%;
    height: 140px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    background: #0093DD;
    color: #FFFFFF;
}
.headerbody
{
    width: 1060px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
}
.logo
{
    padding: 72px 28px 10px 20px;
    width: 244px;
    height: 57px;
    position: relative;
    float: left;
    top: 0px;
    left: 0px;
}
.menu
{
    padding: 100px 10px 20px 10px;
    width: 740px;
    height: 20px;
    position: relative;
    float: left;
}
.header span
{
    padding: 0px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
}
.header span a
{
    color: #FFFFFF;
    font-size: 22px;
    font-family: Arial;
    text-decoration: none;
}
.main
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 1060px;
    height: auto;
    min-height: 800px;
    text-align: left;
}
.main-left
{
    width: 300px;
    height: auto;
    font-size: 22px;
    position: relative;
    float: left;
}
.main-left .leftTitle
{
    margin: 1px 0px 1px 0px;
    padding: 30px 40px 30px 30px;
    width: 230px;
    height: 315px;
    color: #FFFFFF;
    font-family: Arial;
}
.main-center
{
    width: 510px;
    height: 500px;
    font-size: 16px;
    float: left;
    position: relative;
}
.main-top
{
    width: 760px;
    height: 376px;
    text-align: left;
    font-size: 16px;
    float: left;
    position: relative;
}
.logoitem
{
    margin: 20px;
    width: 190px;
    height: 70px;
    text-align: center;
    border: 1px solid #999;
    float: left;
    position: relative;
}
.logoitem img
{
    width: auto;
    height: 50px;
}
.main-right
{
    padding: 15px 0px 0px 25px;
    padding-left: 25px;
    width: 225px;
    height: 300px;
    font-size: 16px;
    float: left;
    position: relative;
}
.connect
{
    width: 225px;
    height: 30px;
    padding: 20px 0px;
    font-size: 22px;
}
.reputation
{
    width: 225px;
    height: 30px;
}
.reputation p
{
    margin: 0px;
    padding: 5px 0px 5px 0px;
    background-color: #C0C0C0;
}
.reputation p span
{
    width: 120px;
    padding-right: 100px;
}
.main .main-right a
{
    color: #000000;
    font-size: 22px;
    text-decoration: none;
}
.hover
{
    font-weight: bold;
}
.yellow
{
    color: #E77817;
    text-transform: uppercase;
}
.yellow a
{
    color: #E77817;
    text-transform: uppercase;
}
.footer
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 1060px;
    height: 200px;
    color: #999;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}
.footer .copyright p
{
    line-height: 150%;
    margin: 0px;
}
.footer .copyright
{
    padding: 40px 40px 20px 100px;
    width: 160px;
    height: 140px;
    text-align: right;
    float: left;
    position: relative;
    top: 0px;
    left: 0px;
}
.footer .disclaimer
{
    padding: 20px 0px 20px 0px;
    width: 510px;
    height: 160px;
    text-align: left;
    float: left;
    position: relative;
}
.footer .disclaimer hr
{
    height: 3px;
    border-width: thin;
    border-color: #808080;
    background-color: #333333;
}
.footer .disclaimer p
{
    margin-top: 10px;
    width: 100px;
    line-height: 150%;
}
.footer .others
{
    width: 250px;
    height: 200px;
    float: left;
    position: relative;
}
.clear
{
    display: block;
    clear: both;
    line-height: 0;
    height: 0;
    font-size: 0;
}

.p150
{
    line-height: 150%;
}
.p200
{
    line-height: 200%;
}
#OurRelationshipIMG img
{
    border: 0px;
    width: auto;
    height: 80px;
    margin: 5px;
}
.Connection div p b
{
    font-family: Arial;
}
.Connection div p span
{
    width: 120px;
}
